{toc}

h2. BasePath: {{basePath}}

h2. Api Version: {{apiVersion}}

h2. Resources
{{#apiDocuments}}
h3. {{resourcePath}}
h4. Overview
{{{description}}}

{{#apis}}
{{#operations}}
h4. {{nickname}}
{noformat}{{httpMethod}} {{path}}{noformat}
{info:title={{summary}}}{{{notes}}}{info}

h5. URL
{code}{{url}}{code}
h5. Parameters
{{#parameters}}
- {{paramType}}
|| Parameter || Required || Description || Data Type ||
{{#paras}}
|_{{name}}_|{{required}}|{{{description}}}|[#{{type}}]|
{{/paras}}
{{/parameters}}

h5. Response
[#{{responseClass}}]

h5. Errors
|| *Status Code* || *Reason* ||
{{#errorResponses}}
|{{code}}|{{{reason}}}|
{{/errorResponses}}

{{/operations}}
{{/apis}}
{{/apiDocuments}}

h2. Data Types
{{#dataTypes}}
{anchor:{{name}}}
h3. {{name}}
|| ||*type*||*required*||*access*||*schema*||*notes*||
{{#items}}
|*{{name}}*|{{#linkType}}[{{type}}|#{{linkType}}]{{/linkType}}{{^linkType}}{{type}}{{/linkType}}|{{#required}}required{{/required}}{{^required}}optional{{/required}}|{{#access}}{{{access}}}{{/access}}{{^access}}-{{/access}}|{{#description}}{{{description}}}{{/description}}{{^description}}-{{/description}}|{{#notes}}{{{notes}}}{{/notes}}{{^notes}}-{{/notes}}|
{{/items}}
{{/dataTypes}}

