h2. BasePath: {{basePath}}

h2. Api Version: {{apiVersion}}

h2. Resources
{{#apiDocuments}}
h3. {{resourcePath}}
{{{description}}}
{{#apis}}
{{#operations}}
||{color:green}{{httpMethod}} {color}|{color}[{{path}}|#{{nickname}}]{color}|{color}{{summary}}{color}|
{{/operations}}
{{/apis}}
{{/apiDocuments}}

h2. Apis
{{#apiDocuments}}
{anchor:{{resourcePath}}}

{{#apis}}
{{#operations}}
{anchor:{{nickname}}}
h3. {{summary}}
{noformat}{{httpMethod}} {{url}}{noformat}
{{{notes}}}

h4. Parameters
{{#parameters}}
- {{paramType}}
|| Parameter || Required || Description || Data Type ||
{{#paras}}
|_{{name}}_|{{required}}|{{{description}}}|[#{{type}}]|
{{/paras}}
{{/parameters}}

{{#responseClass}}
h4. Response
{{^classLinkName}}{{className}}{{/classLinkName}}{{#classLinkName}}[{{className}}|#{{classLinkName}}]{{/classLinkName}}{{^genericClasses}}{{/genericClasses}}{{#genericClasses}}< [{{className}}|#{{classLinkName}}] >{{/genericClasses}}
{{/responseClass}}

h4. Errors
|| *Status Code* || *Reason* ||
{{#errorResponses}}
|{{code}}|{{{reason}}}|
{{/errorResponses}}

{{#samples}}
h4. Examples
{{/samples}}
{{#samples}}
h5. {{sampleDescription}}
- Sample Request
{noformat}
{{{sampleRequest}}}
{noformat}

- Sample Response
{noformat}
{{{sampleResponse}}}
{noformat}

{{/samples}}
{{/operations}}
{{/apis}}
{{/apiDocuments}}

h2. Data Types
{{#dataTypes}}
{anchor:{{name}}}
h3. {{name}}
|| ||*type*||*required*||*access*||*schema*||*notes*||
{{#items}}
|*{{name}}*|{{#linkType}}[{{type}}|#{{linkType}}]{{/linkType}}{{^linkType}}{{type}}{{/linkType}}|{{#required}}required{{/required}}{{^required}}optional{{/required}}|{{#access}}{{{access}}}{{/access}}{{^access}}-{{/access}}|{{#description}}{{{description}}}{{/description}}{{^description}}-{{/description}}|{{#notes}}{{{notes}}}{{/notes}}{{^notes}}-{{/notes}}|
{{/items}}
{{/dataTypes}}

